
html{
	background-color:#2F2F2F;
}


body, #mainWrapper {
    height: 100%;
    background-color:rgb(240,240,240);
}
 
body, .form-control{
    font-size:12px!important;
}
 
.floatRight{
    float:right;
    margin-right: 18px;
}
 
.has-error{
    color:red;
}
 
.generic-container {

  position:fixed;
  width:80%;
  margin-left: 70px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #EAE7E7;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 0 30px black;
  

}
 
.custom-width {
    width: 80px !important;
}

.login-container {
    margin-top: 100px;
    background-color: white;
    width: 40%;
    left: 30%;
    position: absolute;
}

.login-card {
    width: 80%;
    margin: auto;
}
.login-form {
    padding: 10%;
}
